<html>

<head>
  <link rel="stylesheet" hrer="user-dash.component.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />"
</head>

<body>
  <nav>
    <a href="/dash">
      <i class="fas fa-user"></i>
      <span class="nav-item">User</span>
    </a>
    <a href="/admin.con">
      <i class="fas fa-tasks"></i>
      <span class="nav-item">Content</span>
    </a>

  </nav>
</body>

</html>
<div class="random">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col">Username</th>
        <th scope="col">Blog</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let display of Getblog| paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <td>{{display.Username}}</td>
        <td>{{display.title}}</td>
        <td>{{display.description}}</td>
        <td>{{display.url}}</td>
        <!-- <td><button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal2">EDIT</button></td> -->
        <td><button type="button" class="btn btn-danger" (click)="delBlogs(display)">DELETE</button></td>
      </tr>
    </tbody>
  </table>

  <div class="text-center">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>