<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-4 mb-3" *ngFor="let display of Getblog">
            <h5 class="card-title">{{display.Username}}</h5>
            <div class="card text-center">
                <div class="card-body">
                    <img src={{display.url}} alt="img" width=100% height=100%>
                    <p class="card-text">{{display.title}}</p>
                    <p class="card-text">{{display.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container">
    <div class="box">
        <div class="col-md-4 mb-3" *ngFor="let display of Getblog">
            <div class="imgBox">
                <img src={{display.url}} alt="img">
            </div>
            <div class="content">
                <div class="card-title temp" >{{display.Username}}</div>
                <div class="card-text temp">{{display.title}}</div>
                <div class="card-text temp">{{display.description}}</div>
            </div>
        </div>
    </div>
</div> -->